

$font-stack: Times New Roman, sans-serif;
$primary-color:#EDEEFA;
$secondary-color:#F7F5D1;
$background-color:#05031E;
$text-align: center;

%font-styling{
  text-align: center;
}
body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $background-color;
}

h3, section, nav{
  @extend %font-styling;
}

 h3, section{
 color:$primary-color ;
 font-family: $font-stack;
 margin-left: 50px;
 margin-right: 50px;
}

nav {
  ul {
    margin: 10;
    padding: 0;
    list-style: none;
    background-color:$secondary-color;
    font-size: 20px;

  }

  li { display: inline-block; }

  a {
    display: inline-block;
    padding: 12px  30px;
    margin: 6px;
    text-decoration: none;
    text-align: center;
    color:  $background-color;
  }
}

img{
  width: 50%;
  height:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*Mobilversion (Upp till Padda portrait)*/
@media (max-width: 768px) {
img {
width: 100%;
}
}

article{
  display:inline-block;
  margin-right:0px;
  background: #14141f;
  color:$primary-color;
  padding-left: 2%;
  padding-right: 2%;
  font-size:20px;
  display: 1 1 flex;
}

 /*Mobilversion (Upp till Padda portrait)*/
 @media (max-width: 768px) {
img {
width: 100%;
}
}

 footer{
   background-color: $secondary-color;
   color: $background-color;
   margin-top: 20px;
   padding: 6px;
 }
